<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="http://localhost:8008/department" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit department</title>
  </head>
  <body>
    <h2>Cập nhật khoa</h2>
    <form action="./department/update" , method="POST">
      <!-- chay den router va thuc thi method -->
      <input type="hidden" name="idDe" value="<%-department._id%>" />
      <input
        type="text"
        value="<%-department.idDepartment%>"
        placeholder="Mã khoa"
        name="txtIdDepartment"
      />
      <input
        type="text"
        placeholder="Tên khoa"
        value="<%-department.nameDepartment%>"
        name="txtNameDepartment"
      />
      <br />
      <br />
      <input type="submit" value="Cập nhật" />
    </form>
  </body>
</html>
